.wrap{
    width:1304px;
    padding:0px 12px;
    margin: 0px auto;
}
.mt-32{
    margin-top: 32px;
}
.mt-48{
    margin-top: 48px;
}
.mb-29{
    margin-bottom: 29px;
}
body{
    font-family: 'Lato', sans-serif;
}
.f-14{
    font-size: 14px;
}