.left{
    background-color: #F8F9FA;
    max-width: 296px;
    height: 100vh;
    h1{
        padding: 32px;
    }
}
.nav li{
    a{  
        padding: 6px 0px 6px 32px;      
        border-left: 4px solid transparent;        
    }
    a:hover{
        color: #198754;
        border-left: 4px solid #198754;        
    }
}
.user{
    padding: 32px;
}
